
body {
  margin: 3rem;
}
h1 {
    text-align: center;
    font-size: 32px;
  }
  .gaming {
    position: absolute;
    right: 200px;
    z-index: -1;
    opacity: 0.5;
    transform: rotate(-30deg);
}